# Ignore Python cache files
__pycache__/
*.pyc

# Ignore logs
logs/
*.log

# Ignore virtual environment
venv/

# Ignore Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Ignore system files
.DS_Store
Thumbs.db

# Ignore IDE files
.vscode/
.idea/

# Ignore aggregator logs
aggregator/aggregator.log

# Ignore linkstorage migrations
linkstorage/alembic/versions/

# Ignore RAG logs
RAG/logs/